body{
    background-color: rgb(189, 189, 189);
}

#Titulo{
    margin-top: 0px;
    height: 22px;
    text-align: center;
    font-size: 50px;
    color: #000000;
}

h2{
    margin-top: 2px;
    height: 10px;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

#tabla{
    border-collapse: collapse;
    background-color: white;
}

th{
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
}

td{
    border: 2px solid rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
    list-style: none;
}

td:nth-child(even){
    background-color: rgb(250, 245, 240);
}

thead{
    background-color: teal;
    color: white;
}

#Jug1{
    background-color: rgb(247, 81, 81);
    color: white;
}

#Jug2{
    background-color: #94f780;
    color: rgb(0, 0, 0);
}

.triangulos {
  display: flex;
  justify-content: space-around;
  width: 780px;
  margin-top: 15px;
}

.triangulo {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 5px solid transparent;
}

#Tablero{
    width: 780px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 15px 15px 5px -5px rgba(181, 213, 250, 0.637);
    background-color: rgba(0, 119, 255, 0.637);
}

.celdaJ1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 10px 10px 5px -5px rgb(255, 200, 200);
    background-color: rgb(247, 81, 81);
}

.celdaJ2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 10px 10px 5px -5px #d2ffc9;
    background-color: #79f560;
}

.celda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 10px 10px 5px -5px rgba(181, 213, 250, 0.637);
    background-color: rgb(255, 255, 255);
    cursor: crosshair; 
  }

.fila {
   display: flex;
   justify-content: space-around;
 }

.activo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color: rgb(247, 86, 86);
}

.activo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color:  #a0fd8e;
}

.activo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.boton1{
    display: flex;
    font-size: 18px;
    width: 180px;
    height: 30px;
    justify-content: center;
    box-shadow: 10px 10px 5px -5px rgba(134, 184, 128, 0.726);
}

.boton2{
    font-size: 18px;
    width: 180px;
    height: 30px;
    justify-content: center;
    box-shadow: 10px 10px 5px -5px rgba(134, 184, 128, 0.726);
}

#TimeN1 {
    font-size:150px;
    color:#000000;
  }