body{
    background-color: rgb(189, 189, 189);
}

#Titulo{
    margin-top: 0px;
    height: 25px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#Tablero{
    width: 780px;
    height: 580px;
    border-radius: 25px;
    background-color: rgba(255, 238, 0, 0.637);
}


#Ficha1{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
}


#Ficha2{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #0026ff;
    margin: auto;
    margin-top: 20px;
    margin-left: 150px;
    position: absolute;
}


#vis1{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
}
#vis2{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 150px;
    position: absolute;
}
#vis3{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 250px;
    position: absolute;
}
#vis4{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 350px;
    position: absolute;
}
#vis5{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 450px;
    position: absolute;
}
#vis6{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 550px;
    position: absolute;
}
#vis7{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left: 650px;
    position: absolute;
}

#vis8{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 50px;
    position: absolute;
}
#vis9{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 150px;
    position: absolute;
}
#vis10{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 250px;
    position: absolute;
}
#vis11{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 350px;
    position: absolute;
}
#vis12{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 450px;
    position: absolute;
}
#vis13{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 550px;
    position: absolute;
}
#vis14{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 110px;
    margin-left: 650px;
    position: absolute;
}

#vis15{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 50px;
    position: absolute;
}
#vis16{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 150px;
    position: absolute;
}
#vis17{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 250px;
    position: absolute;
}
#vis18{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 350px;
    position: absolute;
}
#vis19{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 450px;
    position: absolute;
}
#vis20{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 550px;
    position: absolute;
}
#vis21{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    margin-left: 650px;
    position: absolute;
}

#vis22{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 50px;
    position: absolute;
}
#vis23{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 150px;
    position: absolute;
}
#vis24{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 250px;
    position: absolute;
}
#vis25{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 350px;
    position: absolute;
}
#vis26{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 450px;
    position: absolute;
}
#vis27{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 550px;
    position: absolute;
}
#vis28{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 290px;
    margin-left: 650px;
    position: absolute;
}

#vis29{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 50px;
    position: absolute;
}
#vis30{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 150px;
    position: absolute;
}
#vis31{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 250px;
    position: absolute;
}
#vis32{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 350px;
    position: absolute;
}
#vis33{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 450px;
    position: absolute;
}
#vis34{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 550px;
    position: absolute;
}
#vis35{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 380px;
    margin-left: 650px;
    position: absolute;
}

#vis36{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 50px;
    position: absolute;
}
#vis37{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 150px;
    position: absolute;
}
#vis38{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 250px;
    position: absolute;
}
#vis39{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 350px;
    position: absolute;
}
#vis40{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 450px;
    position: absolute;
}
#vis41{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 550px;
    position: absolute;
}
#vis42{
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 470px;
    margin-left: 650px;
    position: absolute;
}