body{
    background-color: rgb(189, 189, 189);
}

#Titulo{
    margin-top: 0px;
    height: 25px;
    text-align: center;
    font-size: 50px;
    color: #000000;
}

.triangulos {
  display: flex;
  justify-content: space-around;
  width: 780px;
  margin-top: 15px;
}

.triangulo {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 5px solid transparent;
}

#Tablero{
    width: 780px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 15px 15px 5px -5px rgba(181, 213, 250, 0.637);
    background-color: rgba(0, 119, 255, 0.637);
}

.celdaJ1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 10px 10px 5px -5px rgb(255, 200, 200);
    background-color: rgb(255, 0, 0);
}

.celdaJ2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 10px 10px 5px -5px #d2ffc9;
    background-color: #2bff00;
}

.celda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 10px 10px 5px -5px rgba(181, 213, 250, 0.637);
    background-color: rgb(255, 255, 255);
    cursor: crosshair; 
  }

.fila {
   display: flex;
   justify-content: space-around;
 }

.activo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color: rgb(255, 0, 0);
}

.activo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color:  #2bff00;
}

.activo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
